.Nav {
  background-color: #011826;
  width: 100%;
}

.Nav-container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
}
.nav__hamburgerIcon {
}
.nav__hamburgerIcon {
  display: none;
}

.logo-nav {
  display: flex;
  height: 100%;
}

.logo-nav__icon {
  height: 30px;
  cursor: pointer;
}
.logo-nav__title {
  color: white;
}

.nav-wrapper {
  display: block;
  margin-top: 2rem;
}

.nav-btn {
  width: 187px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 31px;
  background-color: transparent;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
.nav-btn:hover {
  background: #a8bbbf;
  color: black;
}
.logo-icon {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .nav-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .Nav-container {
    flex-direction: row;
  }
  .logo-icon {
    margin-top: 0;
  }
  .nav-wrapper {
    margin-top: 0;
  }
}
