.add__carrera{
    display: grid;
    padding: 2rem;
    background-color: #024059;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}
.h2__carrera{
    font-family: "Laout Beauty";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #fff;

}
.logo__carrera{
    display: grid;
    height: 30rem;
    padding: 0;
    margin: 0;
    background-color: #024059;
}