/*page*/

.onBoarding {
  display: flex;
}

/*page enterpage styles */

.onBoarding.onBoarding--enterPage .onBoarding-content__title {
  font-size: 6rem;
}
.onBoarding.onBoarding--enterPage .onBoarding__button {
  color: white;
  border: 1px solid white;
}

/*page search*/

.onBoarding.onBoarding--SearchScreen .onBoarding__button {
  color: white;
  border: 1px solid white;
}

.onBoarding__SearchScreen {
  display: none;
}

/*content*/
.onBoarding-content {
  margin: 0 auto;
}
.onBoarding-content__title {
  font-family: "Laout Beauty", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  text-align: center;
}
.onBoarding-content__description {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  font-size: 31px;
}
.onBoarding__button {
  height: 44px;
  width: 200px;
  border-radius: 100px;
  padding: 10px 24px 10px 24px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/*image*/

.onBoarding__imgPerson {
  display: none;
}

.onBoarding__EnterIlustration {
  display: none;
}
.onBoarding__ElegiIlustration {
  display: none;
}

.onBoarding__imgCircleOrange,
.onBoarding__imgQuestionBubble,
.onBoarding__imgTriangleOrange,
.onBoarding__imgQuadratRed,
.onBoarding__imgQuadratBlue {
  position: absolute;
}

.onBoarding__imgCircleOrange {
  top: 30px;
  right: 40px;
}

.onBoarding__imgQuestionBubble {
  top: -47px;
  left: 40px;
}
.onBoarding__imgTriangleOrange {
  top: 246px;
  left: 50%;
  transform: translateX(-50%);
}

.onBoarding__imgQuadratRed {
  top: 414px;
  right: 49px;
}
.onBoarding__imgQuadratBlue {
  top: 411px;
  left: 39px;
}

/*borrar*/
.onBoarding-content__testBorrar {
  margin: 100px auto;
  display: block;
}

/*desktop*/

@media screen and (min-width: 1024px) {
  /*enter page */
  .onBoarding.onBoarding--enterPage .onBoarding-content__title {
    font-size: 20rem;
  }

  /*search page */

  .onBoarding.onBoarding--SearchScreen .onBoarding__button {
    color: white;
    border: 1px solid white;
  }

  /*elegi page */

  .onBoarding__ElegiIlustration {
    display: block;
  }

  .onBoarding.onBoarding--selectPage .onBoarding-content__description {
    font-size: 4rem;
  }
  .onBoarding.onBoarding--selectPage .onBoarding__button {
    color: white;
    border: 1px solid white;
  }

  /*elegi page end*/
  .onBoarding-content {
    margin: initial;
  }
  .onBoarding-content__title {
    font-size: 13rem;
    margin: 0;
    position: relative;
    z-index: 40;
  }

  .onBoarding-content__description {
    font-size: 64px;
    margin: 0;
    position: relative;
    z-index: 40;
  }

  /*where to study page*/
  .onBoarding__imgPerson {
    display: block;
    width: 485px;
    position: absolute;
    right: -41px;
    bottom: -218px;
  }

  /*where to study page end*/

  /*enter page */

  .onBoarding__EnterIlustration {
    display: block;
    width: 50%;
    max-width: 46rem;
    position: absolute;
    right: 130px;
    bottom: -50px;
  }
  /*enter page end */

  /*search page */
  .onBoarding__SearchScreen {
    display: block;
    width: 50%;
    max-width: 46rem;
    position: absolute;
    right: 458px;
    bottom: -94px;
  }

  .onBoarding.onBoarding--SearchScreen {
    justify-content: end;
  }

  .onBoarding__button {
    position: absolute;
    top: -133px;
    right: 19px;
  }

  .onBoarding-content__testBorrar {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: -138px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1440px) {
  /*wheretostudy page*/
  .onBoarding__imgPerson {
    right: 83px;
  }

  /*enter page*/

  .onBoarding__EnterIlustration {
    display: block;
    width: 50%;
    max-width: 46rem;
    position: absolute;
    right: 130px;
    bottom: -50px;
  }

  /*search page */
  .onBoarding__SearchScreen {
    right: 680px;
    bottom: -76px;
  }

  .onBoarding.onBoarding--SearchScreen {
    justify-content: center;
    margin-left: 219px;
  }
}
