/*page*/

.onBoarding {
  display: flex;
}

.onBoarding.onBoarding--enterPage .onBoarding-content__title {
  font-size: 6rem;
}

/*content*/
.onBoarding-content {
  margin: 0 auto;
}
.onBoarding-content__title {
  font-family: "Laout Beauty", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  text-align: center;
}
.onBoarding-content__description {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  font-size: 31px;
}
.onBoarding__button {
  height: 44px;
  width: 200px;
  border-radius: 100px;
  padding: 10px 24px 10px 24px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

/*image*/

.onBoarding__imgPerson {
  display: none;
}

.onBoarding__EnterIlustration {
  display: none;
}

.onBoarding__imgCircleOrange,
.onBoarding__imgQuestionBubble,
.onBoarding__imgTriangleOrange,
.onBoarding__imgQuadratRed,
.onBoarding__imgQuadratBlue {
  position: absolute;
}

.onBoarding__imgCircleOrange {
  top: 30px;
  right: 40px;
}

.onBoarding__imgQuestionBubble {
  top: -47px;
  left: 40px;
}
.onBoarding__imgTriangleOrange {
  top: 246px;
  left: 50%;
  transform: translateX(-50%);
}

.onBoarding__imgQuadratRed {
  top: 414px;
  right: 49px;
}
.onBoarding__imgQuadratBlue {
  top: 411px;
  left: 39px;
}

/*borrar*/
.onBoarding-content__testBorrar {
  margin: 100px auto;
  display: block;
}

/*desktop*/

@media screen and (min-width: 1024px) {
  .onBoarding.onBoarding--enterPage .onBoarding-content__title {
    font-size: 20rem;
  }
  .onBoarding-content {
    margin: initial;
  }
  .onBoarding-content__title {
    font-size: 13rem;
    margin: 0;
    position: relative;
    z-index: 40;
  }

  .onBoarding-content__description {
    font-size: 64px;
    margin: 0;
    position: relative;
    z-index: 40;
  }
  .onBoarding__imgPerson {
    display: block;
    width: 521px;
    position: absolute;
    right: -41px;
    bottom: -218px;
  }

  .onBoarding__EnterIlustration {
    display: block;
    width: 50%;
    max-width: 46rem;
    position: absolute;
    right: 130px;
    bottom: -50px;
  }

  .onBoarding__button {
    position: absolute;
    top: -133px;
    right: 19px;
  }

  .onBoarding-content__testBorrar {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: -138px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1440px) {
  .onBoarding__imgPerson {
    right: 83px;
  }

  .onBoarding__EnterIlustration {
    display: block;
    width: 50%;
    max-width: 46rem;
    position: absolute;
    right: 130px;
    bottom: -50px;
  }
}
